* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    --dark: #011;
    --green: green;
    --light: #efefef;
    --red: red;
  
    color: var(--dark);
    font: 20px/1 sans-serif;
  }

.command{
    display: grid;
    grid-area: command;
}
.footer{
    display: grid;
    grid-area: footer;
    grid-column:span 3;
}
.header{
    display: grid;
    grid-area: header;
    grid-column: span 3;
}

.playing-card{
    display: flex;
    border-radius: 0.5rem;
    background-color: var(--light);
    padding: 1rem;
    height: 8rem;
    width: 6rem;
    margin: 1rem;
}

.result {
    display: grid;
    grid-area: result;
}

.play-area{
    grid-area: play-area;
    background-color: var(--green);
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--red);
    padding: 1rem;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header header" "command play-area result" "footer footer footer";
}




.hit{
    padding: .5rem, 1 rem;
    background-color: transparent;
    border: 2px solid var(--red);
}