.command{
    display: grid;
    grid-area: command;
}
.footer{
    display: grid;
    grid-area: footer;
    grid-column:span 3;
}
.header{
    display: grid;
    grid-area: header;
    grid-column: span 3;
}
.result {
    display: grid;
    grid-area: result;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header" "command dealer result" "command user result" "footer footer footer";
}
